@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Titillium+Web&display=swap');

:root{
    --primary-color: #0F260C;
    --secondary-color: #A49E8D;
    --accent1-color: #689689;
    --accent2-color: #83E8BA;

    --heading-font: 'Merrieather';
    --paragraph-font: 'Titillium web';

    --nav-background-color: #040a03;
    --nav-link-color: #689689;
    --nav-hover-link-color: #94d3c0;
    --nav-hover-background-color: #1b4614;
}

*{
    width: 1000px;
}

html{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

body{
    grid-column: 2/3;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    padding: 25px;
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}



.hero img{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;

}
.hero h1{
    background-color: rgba(228, 228, 228, 0.603);
    position: absolute;
    top: 10px;
    left: 450px;
    padding: 15px;
    width: auto;
    
}
.hero article{
    position: absolute;
    top: 125px;
    left: 100px;
    background-color: rgba(37, 37, 37, 0.603);
    width: auto;

}

.hero article p{
    width: 800px;
    color: var(--secondary-color);
}

.hero article img{
    float: right;
    width: 225px;
    height: auto;
}



/* main site header */

header{
    display: grid;
    justify-items: center;
    margin: 10px;
    grid-template-columns: 229px 771px;
    /* grid-template-rows: 50px 200px; */
    background-color: rgba(0, 0, 0, 0.144);
}


.nav-bar{
    font-size: 1.2rem;
    display: flex;
    width: 751px;
    align-items: center;
    justify-content: center;


}

.nav-bar a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    background-color: var(--nav-background-color);
}

body header img{
    justify-items: center;
    width: 229px;
    height: auto;
    grid-column: 1/2;

}

.nav-bar a:link, nav a:visited{
    color:var(--nav-link-color)
}
.nav-bar a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* auh(about us history) */
.auh{
    display: grid;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    grid-template-columns: 385px 230px 385px;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;

}

.auh h2{
    grid-column: 2/3;
    text-align: center;
}
.auh p{
    grid-row: 2;
    max-width: fit-content;
    text-align: center;
}

.auh img{
    grid-row: 2/3;
    align-content: center;
    max-width: 250px;
}

/* Adventure Awaits You about us page */
.adv{
    display: grid;
    margin: 10px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.144);
}

.adv h2{
    grid-column: 3;
    text-align: center;

}

.adv figure{
    width: 180px;
    grid-row: 2;
    

}

.adv figure img{
    width: 180px;

}

/* the footer */

footer{
    display: grid;
    grid-template-columns: repeat(3, 333px);
    grid-template-rows: 60px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.144);
    margin: 10px;
}

footer p{

    grid-column: 2;
}

.social-icon a{
    grid-column: 3;
    justify-content: center;

}

footer nav a img{
    width: 50px;
    height: auto;
}

/* Contact us page */

.main-grid{
    display: grid;
    margin: 10px;
    grid-gap: 50px;
    grid-template-columns: 475px 475px;
    grid-template-rows: 75px 200px 500px 400px;

}

.main-grid *{
    width: auto;
}
.contactus-h1{
    grid-column: 1/3;
    justify-self: center;
    text-align: center;
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.144);
    text-align: center;
}




.map iframe{
    width: 475px;
    height: 500px;
}

.contact-form *{
    width: auto;
}

.contact-form{
    justify-self: center;
    width: auto;
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: rgba(0, 0, 0, 0.144);
    padding:40px;


}

.contact-form fieldset{
    border: 0;
    display: grid;
    grid-gap: 5px;
    margin: 10px;
    padding: 0;
    grid-template-columns: 380px;

}

.contact-form h2{
    text-align: center;
}

.form-q{
    font-size: large;
    font-weight: 500;
}
.contact-form fieldset input[type="text"]{
    font-size: medium;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 5px;
}

.contact-form fieldset button{
    margin-top: 20px;
    width: 200px;
    justify-self: right;
    font-size: x-large;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
}

.contact-form fieldset button:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.employee{
    grid-column: 1/3;
    align-self: center;
    padding-top: 50px;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 50px;
    background-color: rgba(0, 0, 0, 0.144);
}

.employee img{
    width: 200px;
    height: auto;
}
.employee p{
    align-self: self-start;
    padding: 0;
    margin: 0;
    font-size: large;
}

/* Trips page */
.tripmain *{
    width: auto;
}

.tripmain{
    width: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 500px 500px;
    grid-template-rows: 340px 1fr;

}

.calltoaction{
    position: relative;
    margin: 10px;
    grid-column: 1/3;
}

.calltoaction img{
    width: 1000px;
    display: block;
    margin-left: 20px;
}

.calltoaction h2{
    background-color: rgba(228, 228, 228, 0.603);
    position: absolute;
    top: 10px;
    left: 450px;
    padding: 15px;
    width: auto;
}

.calltoaction p{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 800px;
    padding: 25px;
    background-color: rgba(37, 37, 37, 0.603);

    color: lightgray;
    text-align: center;
    
}

.calltoaction a{
    position: absolute;
    top: 230px;
    left: 475px;
    background-color: rgba(37, 37, 37, 0.603);
    padding: 10px;
    color: lightgray;
    text-align: center;
}

.calltoaction a:link, nav a:visited{
    color:var(--nav-link-color)
}

.trips{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 10px;
    margin: 0;
}

.trips img{
    width: 460px;
    height: auto;
    border: 1px solid darkgray;

}

.triptable *{
    margin: 0;
    padding: 0;
}

.triptable{
    text-align: center;
    border: 2px solid darkgray;
    width: 460px;

}

.triptable tr{
    border: 2px solid darkgray;
    background-color: lightgray;
    height: 30px;
}
.triptable tbody tr td{
    background-color: white;
    border: 2px solid darkgray;
    text-align:center;
    height: 475px;
    
}

/* home page */
.homemain *{
    width: auto;
}

.homemain{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-areas: 1fr 1fr 1fr;
}

.hhero{
    grid-column: 1/3;
}

.hhero img{
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;

}
.hhero h1{
    background-color: rgba(228, 228, 228, 0.603);
    position: absolute;
    top: 250px;
    left: 730px;
    padding: 15px;
    width: auto;
}

.joinus{
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 10px;
    margin-right: 10px;
    text-align: center;
}

.joinus p{
    width: 420px;
    top: 550px;
    left: 310px;
    position: absolute;
}

.joinus a{
    position: absolute;
    top: 690px;
    left: 485px;
    background-color: rgb(240, 240, 240);
    border: 2px solid darkgray;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 5px;
}

.newsletter{
    width: 460px;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid darkgray;
    margin: 10px;
    margin-left: 30px;
    text-align: center;

}

.newsletter form fieldset{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 1fr;
    border: 0px solid rgba(255, 255, 255, 0);
}

.newsletter form fieldset button{
    grid-column: 2/3;
    width: 100px;
    justify-self: end;
    font-size: medium;
}

.homeimg{
    width: 1000px;
    margin: 10px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 500px 500px;
    align-items: center;
    justify-items: center;
    background-color: lightgray;
    border: 1px solid darkgray;
}

.homeimg img{
    width: 460px;
    height: auto;
    margin: 20px;
}