@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Titillium+Web&display=swap');

:root{
    --primary-color: #0F260C;
    --seceondary-color: #A49E8D;
    --accent-color: #689689;
    --accent-color2: #83E8BA;

    --heading-font: 'Merrieather';
    --paragraph-font: 'Titillium web';

    --navigation-background-color: #040a03;
    --navigation-link-color: #689689;
    --navigation-hover-link-color: #94d3c0;
    --navigation-hover-background-color: #1b4614;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header{
    padding: 20px;
    background-color: var(--accent-color);
}
p{
    padding: 25px;
}
nav{
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a :visited {
    color:var(--navigation-link-color)
}
nav a:hover{
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}